#google_map{
    text-align: center;
    margin: 5rem 0;
    margin-top: 5rem;
}

#google_map_small{
    display: none;
}


/* Repsonssive Style */
@media screen and (max-width: 700px) {

    #google_map{
        display: none;
    }
    

    #google_map_small{
        text-align: center;
        margin: 5rem 0;
        margin-top: 5rem;
        display: block;
    }
}