/* Common Styles */

/* Imported Font */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Bodoni Moda', serif;
}

html{
    /* by default 1 rem = 16px, so 62.5% of 16px = 10px */
    font-size: 62.5%; 
    min-height: 100vh;
}

/* End Common Styles */

/* base styles */
body{
    background-color: white;
    min-height: 100vh;
}

/* Mobile Styles */
#navigation{
    background-color: white;
    min-height: 12rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 10;
    top: 0;
}

#drop_down_container{
    overflow: hidden;
    background-color: white;
    width: 100%;
    position: absolute;
    z-index: 20;
    height: 0;
}


.show_drop_down_container{
    min-height: 100vh !important;
}

.list_nav_items{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.nav_list_items{
    color: black;
    list-style: none;
}

#logo_top{
    margin-top: 1rem;
    margin-left: 1rem;
    height: 8.8rem;
    position: relative;
}

#hamburger_wrapper{
    position: relative;
    cursor: pointer;
    height: 5rem;
    width: 5rem;
    margin: 2rem;
    z-index: 100;
}

#hamburger_wrapper span{
    width: 80%;
    height: .6rem;
    border-radius: 0.1rem;
    display: block;
    margin: .7rem 0;
    background-color: rgb(114, 112, 112);

    /* transition properties */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    -o-transition: .35s ease-in-out;
    transition: .35s ease-in-out;

}

#hamburger_wrapper.open span:nth-child(1){
    margin-left: 1rem;
    transform-origin: top left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburger_wrapper.open span:nth-child(2){
    background-color:rgba(0, 0, 0, 0);
}

#hamburger_wrapper.open span:nth-child(3){
    margin-left: 1rem;
    transform-origin: bottom left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu_content_container{
    max-width: 90rem;
    min-width: 45rem;
    margin: 0 auto;
}

#section_1{
    margin-top: 13rem;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#section_1 li{
    list-style: none;
}

#menu_address{
    padding-top: 1.35rem;
    padding-bottom: 2.2rem;
    font-size: 1.35rem;
    font-style: italic;
    letter-spacing: 0.125rem;
}

#logo_mid{
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -120%);
}

#menu_slide_reel{
    width: 92%;
}

.reel_imgs{
    height: 25rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation: fadeIn 2.5s;
    -webkit-animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    -ms-animation: fadeIn 2.5s;
}



@keyframes fadeIn {
    0% {opacity:0.4;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0.4;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0.4;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0.4;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0.4;}
    100% {opacity:1;}
  }


.reel_imgs.hide{
    display:none;
}


#section_2{
    height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#menu{
    text-align: center;
    font-size: 3.6rem;
    font-style: italic;
}

#menu_description{
    text-align:justify;
    font-size: 1.6rem;
    padding: 0 2rem;
}

.menu_section{
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.menu_subsection {
    width: 45rem;
    height: fit-content;
}

.menu_section_title{
    text-transform: uppercase;
    text-align: left;
    font-size: 3.2rem;
    font-style: italic;
    padding-left: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.menu_li{
    list-style: none;
}

.menu_item_description{
    text-align: left;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.menu_price{
    text-align:left;
    font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: bolder;
}

/* End Mobile Styles */

/* Responsive Styles */
@media all and (min-width: 900px)  {
    .reel_imgs{
        height: 35rem;
    }

    .menu_section{
        width: 100%;
        margin: unset;
    }
}
/* End Responsive Styles */