/* Common Styles */

/* Imported Font */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Bodoni Moda', serif;
}

html{
    /* by default 1 rem = 16px, so 62.5% of 16px = 10px */
    font-size: 62.5%; 
    min-height: 100vh;
}

/* End Common Styles */

/* base styles */
body{
    background-color: white;
    min-height: 100vh;
}

/* Mobile Styles */



#section_1{
    margin-top: 13rem;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#section_1 li{
    list-style: none;
}

#logo_mid{
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -120%);
}

#menu_slide_reel{
    width: 92%;
}

.reel_imgs{
    height: 25rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    animation: fadeIn 2.5s;
    -webkit-animation: fadeIn 2.5s;
    -moz-animation: fadeIn 2.5s;
    -o-animation: fadeIn 2.5s;
    -ms-animation: fadeIn 2.5s;
}



@keyframes fadeIn {
    0% {opacity:0.4;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0.4;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0.4;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0.4;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0.4;}
    100% {opacity:1;}
  }


.reel_imgs.hide{
    display:none;
}


#section_2{
    height: 25rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#menu{
    text-align: center;
    font-size: 3.6rem;
    font-style: italic;
}

#menu_description{
    text-align:justify;
    font-size: 1.6rem;
    padding: 0 2rem;
}

.menu_section{
    height: fit-content;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}

.menu_subsection {
    width: 45rem;
    height: fit-content;
}

.menu_section_title{
    text-transform: uppercase;
    text-align: left;
    font-size: 3.2rem;
    font-style: italic;
    padding-left: 1rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.menu_li{
    list-style: none;
}

.menu_item_description{
    text-align: left;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.menu_price{
    text-align:left;
    font-size: 1.5rem;
    padding-left: 1rem;
    font-weight: bolder;
}

/* End Mobile Styles */

/* Responsive Styles */
@media all and (min-width: 900px)  {
    .reel_imgs{
        height: 35rem;
    }

    .menu_section{
        width: 100%;
        margin: unset;
    }
}
/* 
@media all and (min-width: 1000px) {
    body{
        display: flex;
    }

    #navigation{
        position: unset;
    }

    .menu_content_container{
        overflow: scroll;
    }
} */
/* End Responsive Styles */